[submodule "mktoolchain/toolchain/aarch64-gnu-tool"]
	path = mktoolchain/toolchain/aarch64-gnu-tool
	url = https://github.com/Teamlions/aarch64-linux-gnu-7.3.git
[submodule "mktoolchain/toolchain/arm-none-eabi-gnu"]
	path = mktoolchain/toolchain/arm-none-eabi-gnu
	url = https://github.com/nolanholden/arm-none-eabi-gcc
